@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/opensans-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;

}
@font-face {
    font-family: 'Gora Free';
    src: url('../fonts/gora-free-webfont.woff2') format('woff2'),
         url('../fonts/gora-free-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

*{
	margin: 0;
	padding: 0;
}
html, body{
	width: 100%;
	height: 100%;
	line-height: 1.42;
}
.wrapper{
	width: 100%;
	min-height: 100%;
}
.wrapper:after{
	content: "";
	display: block;
	height: 77px;
}
.clearfix:after{
	content:" ";
	display: block;
	clear: both;	
}
.header{
	width:100%;
	height: 76px;
	background-color: #131415;
}
.header__logo-text{
	float: left;
	padding-top:30px;
	padding-bottom:28px;
	padding-left: 19px; 
}
.logo-text{
	height: 18px;
	color: #f89513;
	font-family: "Gora Free";
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1.8px;
}
address{
	font-style:normal;
}
.contacts{
	float: right;
	padding-right: 21px; 
}
.contacts__phone{
	height: 18px;
	margin-top:21px;
}
.contacts__href{
	text-decoration: none;
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 21px;
	font-weight: 700;

	text-transform: uppercase;
}
.contacts__work{
	padding-top: 6px;
	text-align: right;
	opacity: 0.7;
	color: #f89513;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 700;
	text-decoration: underline;
}
.container{
	width:1100px;
	margin: auto; 
}
.demo-icon{
	margin-right: 18px;
	font-size: 14px;
}
.navigation{
	margin-left: 19px;
	margin-top: 50px;	
	width:104px;
	margin-right: 76px;
	float:left;
}
.navigation__list{
	list-style: none;
	overflow: hidden;

}
.navigation__elem{
	color: #f89513;
	height: 9px;
	margin-bottom:40px;

}
.navigation__href{
	font-weight: 700;
	letter-spacing: 1.2px;
	text-decoration: none;
	color: #f89513;
	font-family: "Open Sans";
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	
}
.navigation__elem--current{
	color:#131415; /* почему не работает на ссылку*/ 
}
.navigation__href--current{
	color:#131415;
}
.nav-active{
	letter-spacing: 1.2px;
}
.section{

	width:881px;
	margin-right: 20px;
	float: left;
}
.breadcrumbs{
	margin-top: 46px;
	list-style: none;
	overflow: hidden;

	
}
.breadcrumbs__item{
	display: inline-block;
	height: 13px;
	opacity: 0.8;
	color: #221f1f;
	font-family: "Open Sans Light";
	font-size: 14px;
	font-weight: 300;
	font-style: italic;
	line-height: 18px;
}
.breadcrumbs__item:first-child:after{
	content: '/';
}
.active{
	color: #f89513;
	text-decoration: underline;
}
.section__title{
	margin-top:28px; 
	margin-bottom: 50px;
	width: 202px;
	height: 35px;
	color: #221f1f;
	font-family: "Open Sans";
	font-size: 49px;
	font-weight: 700;
	line-height: 38px;
}

.comments{
	width:881px;
}
.comments__elem{
	margin-top: 31px;	
	padding-bottom:26px;
	border-bottom: 2px solid #f5f5f5;
	list-style: none;
	clear: both;
}
.comments__avatar{
	width: 160px;
	height: 160px;
	float: left;
}
.comments__avatar-pic{
	width: 160px;
	height: 160px;
	background-color: #f5f5f5;
	border-radius: 100%;

}
.comments__desc{
	margin-left: 19px;
	width: 688px;
	color: #221f1f;
	font-family: "Open Sans",sans-serif;
	font-size: 18px;
	font-weight: 300;
	float: left;
	
}
.comments__date{
	margin-bottom: 13px;
	color: #656464;
	font-size: 14px;
	font-weight: 300;
	line-height: 21px;
}
.comments__header{
	margin-bottom: 22px;
	font-weight: 700;
	line-height: 21px;
}
.comments__text{
	font-weight: 300;
	line-height: 30px;
}
.comments__elem--none{
	border: 0;
	padding-bottom: 0;
}
.pagination{
	margin-top: 54px;
	text-align: center;
	margin-bottom: 73px;
}
.pagination__pages{
	text-align: center;
	display: inline-block;
	color: #656464;
	font-family: "Open Sans",sans-serif;
	font-size: 14px;
	font-weight: 300;
}
.pagination__list{
	text-align: center;
	display: inline-block;
	list-style-type: none;
}
.pagintation__elem{
	margin-left: 9px;
	display: inline-block;
	width: 9px;
	height: 12px;
	color: #221f1f;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 700;
}
.pagintaion__icon{
	display: inline-block;
	vertical-align: center;
	margin-left: 18px;
	margin-right: 15px;
}
.section-form{
	clear: both;
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	height: 427px;
	background-color: #f5f5f5;
}
.form{
	padding-left: 69px;
}
.form__header{
}
.form__title{
	display: inline-block;
    margin-top: 52px;
	color: #221f1f;
	font-family: "Open Sans";
	font-size: 49px;
	font-weight: 700;
	line-height: 0.66;

}
.form__elem{
	margin-top: 18px;
	display: inline-block;
}
.form__elem:first-child{
	margin-right: 16px;
}
.form__elem-title{
	display: inline-block;
	color: #221f1f;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 300;
}
.form__input{
	margin-top: 4px;
	display: block;
	width: 268px;
	height: 44px;
	background-color: #ffffff;
}
.form__textarea{
	margin-top: 10px;
}
.form__big-text-input{
	margin-top: 10px;
	width: 561px;
	height: 90px;
	border: 1px solid #f89513;
	background-color: #ffffff;
}
.form__row{
	clear:both;
}
.form__radius-header{
	margin-top:  19px;
	color: #221f1f;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 300;
}
.form__radio{
	float: left;
	margin-right: 21px;
}
.form__radius-content{
	margin-bottom: 9px;
}
.form__radio-name{
	width: 16px;
	height: 13px;
	color: #f89513;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 300;
	line-height: 54px;
}
.form__send{
	float: right;
}
.form__submit{
	width: 125px;
	height: 45px;
	background-color: #1c1f1d;
	float: right;
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	/* Text style for "Отправить" */
	letter-spacing: 1.2px;
}
.footer{
	margin-top: -7px;
	width: 100%;
	clear: both;
	height: 77px;
	background-color: #131415;
}
.footer__col{
	height: 77px;
	float: left;
	width: 33%;

}
.footer__text{
	margin: 14px 0 0 19px;
	width: 239px;
	color: #ffffff;
	font-family: "Open Sans",sans-serif;
	font-size: 14px;
	font-weight: 300;
}
.footer__loftschool{
	font-weight: 700;
	text-decoration: underline;
}
.footer__name{
	font-weight: 700;
}
.logo-text--center{
	margin-top: 29px;
	vertical-align: middle;
	text-align: center;
}
.socials{
	float: right;
	text-align: right;
}
.socials__text{
	margin-top: 20px;
	width: 175px;
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 700;

}
.socials__list{
	list-style-type: none;
}
.socials__elem{
	line-height:1.15;
	text-align: center;
	width: 20px;
	height: 20px;
	background-color: #d0d0d0;
	border-radius: 50%;
	margin-top:8px;
	display: inline-block;
}
.socials__elem:hover{
	background-color: #f89513;
}
.socials__link{
	display: inline-block;
	color: #27273e;
	font-size: 12px;
}

