*{
    margin:0;
    padding: 0;
    
}
.container{
    margin: 0 auto;
    background: lightblue;
}
.container__h1_h1{
    text-align: center;
    
}
.container__img{
    width:100%;

}
.container__img_img{
    width:40%;
    margin: 3%;
    border:1px solid black;
    border-radius: 10px;
}